.catalog-header {
    background: rgba($color-envy, 0.1);
    margin-bottom: $indent__l;

    @include min-screen($screen__m) {
        margin-bottom: 50px;
    }

    .breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }

    .page-title-wrapper {
        padding: $indent__base 0;

        @include min-screen($screen__m) {
            padding-top: 35px;
        }
    }

    .page-title {
        @include lib-font-size(32);
        margin: 0;

        @include min-screen($screen__m) {
            @include lib-font-size(50);
        }
    }
}

.catalog-header__wrapper {
    @extend .top-container;
}
