//
//  Color variables
//  _____________________________________________

$color-laser: #c6aa6f;
$color-dark-blue: #1f2526;
$color-envy: #9ba99c;
$color-alto: #dadada;
$color-mineshaft: #242424;
$color-riverbed: #49575b;
$color-codgray: #0d0d0d;
$color-chalice: #a7a7a7;
$color-old-rose: #c57f79;
$color-river-bed: #49575b;
$color-shark: #1f2526;
$color-gray-off-white: #e5e5e5;
$color-gray-light: #ededed;
$color-seashell: #f1f1f1;
$color-gray-01: #c1c3c4;
$color-gray-02: #d2d3d3;
$color-gray-03: #3a3835;
$color-gray-04: #cccccc;
$color-gray-05: #f9faf9;
$color-gray-06: #747879;
$color-laurel: #798d79;

//
//  Mappings
//  _____________________________________________

$page__background-color: $color-white;
$footer__background-color: $color-white;
$footer-bottom__border-color: $color-gray-light;
$account-nav-background: transparent;
$account-nav-current-border-color: $color-laser;
$account-nav-delimiter__border-color: $color-alto;
