commands:
  01_configure_php:
    command: "/opt/configure-php.sh"

files:
  "/opt/configure-php.sh":
    mode: "000755"
    content: |
      #!/bin/bash

      set -xe
      sed -i "s/memory_limit = 128M/memory_limit = 756M/" /etc/php.ini || /bin/true
      sed -i "s/max_execution_time = 30/max_execution_time = 18000/" /etc/php.ini || /bin/true
      sed -i "s/upload_max_filesize = 2M/upload_max_filesize = 50M/" /etc/php.ini || /bin/true