.product-gallery {
    position: relative;

    &_left {
        position: absolute;
        top: 0;
        height: 80px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        left: 10px;
    }

    &_whishlist {
        position: absolute;
        right: 50px;
        top: 0;
        height: 75px;
        width: 40px;
        z-index: 9;

        .towishlist {
            background-image: url('../images/icons/heart.svg');
            background-repeat: no-repeat;
            background-position: center center;
            height: 100%;
            display: block;

            span {
                display: none;
            }
        }
    }

    &_left {
        left: 10px;
    }

    &_count {
        span {
            color: white;
        }
    }

    &_popular {
        span {
            padding: 5px 10px;
            background: #49575b;
            color: white;
        }
    }

    .fotorama__nav--dots {
        display: none;
    }
}

.gallery-placeholder {
    .loading-mask {
        position: static;
        padding: 0 0 50%;
    }

    .loader img {
        position: absolute;
    }
}
