form.minisearch.loading .control input[type="text"] {
    box-shadow: none;
    animation-name: search-loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

// Standard syntax
@keyframes search-loading {
    0%     {box-shadow: none;}
    25%     {box-shadow: 0 0 3px 1px $color-blue1;}
    50%     {box-shadow: 0 0 3px 1px $color-white;}
    75%     {box-shadow: 0 0 3px 1px $color-blue1;}
    100%     {box-shadow: none;}
}

.searchsuite-autocomplete {
    display: none;
    margin-top: -2px;
    width: 100%;

    .form.minisearch.active & {
        display: block;
    }

    &__suggest-list,
    &__products-list {
        margin: 0;
        padding: 0 0 20px;
        list-style: none;
    }

    &__products-item {
        float: left;
        width: 100%;

        .qs-option-image {
            float: left;
            width: 45px;
        }

        .qs-option-info {
            margin-left: 60px;
        }

        .qs-option-title {
            margin-bottom: 2px;
        }

        .price-container .price,
        .price-container .price-label {
            @include lib-font-size(11);
            color: $color-gray-03;
        }
    }

    &__results {
        @include make-row();
    }

    &__suggest,
    &__products {
        @include make-col-ready();
        @include make-col(12);
        margin: 0;
    }

    &.active,
    &__suggest.active,
    &__products.active {
        display: block;
    }

    &__title {
        @include abs-visually-hidden();
    }

    &__view-all {
        clear: both;
        padding-top: 40px;
        text-align: center;
    }

    &__view-all-submit {
        @include lib-button-as-link();
        text-decoration: underline;
    }
}

//
//  Larger mobile
//
@include min-screen(400px) {
    .searchsuite-autocomplete {
        &__products-item {
            width: 50%;
        }
    }
}

//
//  Desktop
//
@include min-screen($screen__m) {
    .searchsuite-autocomplete {
        &__suggest {
            @include make-col(2);
        }

        &__products {
            @include make-col(10);
        }

        &__products-item {
            width: 33.33%;
        }
    }
}
